// Variables

@gray-darker: lighten(##c61313, 13.5%);
@gray-dark: lighten(#c61313, 20%);
@gray: lighten(#c61313, 33.5%);
@gray-light: lighten(#c61313, 60%);
@gray-lighter: lighten(#c61313, 93.5%);
@gray-lightest: lighten(#c61313, 97.25%);
@brand-primary: #5eb4ff;
@brand-success: #5cb85c;
@brand-info: #5bc0de;
@brand-warning: #f0ad4e;
@brand-danger: #d9534f;

